[project]
	description = Local manifest for building CyanogenMod for Xperia 2011 devices
[access "refs/*"]
	owner = group user/Michael Bestas (mikeNG)
[access "refs/for/refs/*"]
	read = group user/Michael Bestas (mikeNG)
	push = group user/Michael Bestas (mikeNG)
	label-Code-Review = -2..+2 group user/Michael Bestas (mikeNG)
	label-Verified = -1..+1 group user/Michael Bestas (mikeNG)
	rebase = group user/Michael Bestas (mikeNG)
	removeReviewer = group user/Michael Bestas (mikeNG)
	submit = group user/Michael Bestas (mikeNG)
[access "refs/heads/*"]
	read = group user/Michael Bestas (mikeNG)
	create = group user/Michael Bestas (mikeNG)
	push = +force group user/Michael Bestas (mikeNG)
	pushMerge = group user/Michael Bestas (mikeNG)
[access "refs/tags/*"]
	push = +force group user/Michael Bestas (mikeNG)
	pushTag = group user/Michael Bestas (mikeNG)
	pushSignedTag = group user/Michael Bestas (mikeNG)
